.dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 34px;
    gap: 34px;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
    .dashboard {
        flex-direction: column;
        height: fit-content;
    }
}

@media only screen and (max-width: 500px) {
    .dashboard {
        padding: 15px;
        gap: 15px;
    }

}
